* {
    background-color: rgb(213,225,239);
    font-family: "Outfit", sans-serif;
}

/* .wrapper */

.main-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 16px;
    width: 12.5vw;
    max-width: 320px;
    min-width: 12vw;
    padding: 12px 12px;
    margin: auto;
    margin-top: 10vh;
    
}

.attribution {
    color: rgb(104, 119, 141);
    text-align: center;
    margin-top: auto;
}

img {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    background-color: transparent;
    color: rgb(31, 49, 79);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
}

p {
    background-color: transparent;
    color: rgb(104, 119, 141);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
}

a {
    color: rgb(31, 49, 79);
    text-decoration: none;
}